html {
    font-size: 14px;
    font-family: Inter, Noto Sans Simplified Chinese, "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

body {
    width: 980px;
    margin: 3px auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    /*border: 2px solid black;*/
  }

h1 {
  margin: 0;
  padding: 20px 0;
  color: rgb(3, 102, 214);
  /* text-shadow: 2px 2px 1px black; */
  border: 2px solid rgb(234, 236, 239);
  border-width: 0 0 1px 0;
  line-height: 24px;
}

h2 {
  border: 2px solid rgb(234, 236, 239);
  border-width: 0 0 1px 0;
}

p,
li {
  font-size: 16px;
  line-height: 2;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

a[href^="http"] {
  background: url("https://img.icons8.com/small/16/external-link.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

[class="footer"] {
  border: 2px solid rgb(234, 236, 239);
  border-width: 1px 0 0 0;
  color: rgb(88, 96, 105);
  text-align: right;
}